---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Container from '../components/Container.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="J Canan – Music for the Artist">
	<Navbar />
	<main>
		<div class="hero" transition:name="hero" transition:animate="fade">
			<h1>Music for the Artist</h1>
			<p class="subtitle">Beats & Mixing Services</p>
		</div>
		<Container>
			<div class="beats">
				<iframe id="airbit_infinity" src="https://JCanan.infinity.airbit.com?config_id=8025&amp;embed=1" width="100%" height="740" frameborder="0" scrolling="no" style="opacity: 1; visibility: visible;"></iframe>
			</div>
		</Container>
	</main>
	<Footer />
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		max-width: calc(100% - 1.5rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}

	.hero {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 5rem 5%;
	}

	h1 {
		font-size: 3.5rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: .3rem;
		margin-top: 0;
	}

	.subtitle {
		text-transform: uppercase;
		letter-spacing: .6rem;
		font-size: .9rem;
		text-align: center;
		font-weight: 300;
	}

	.beats {
		width: 100%;
		padding: 3rem 0;
	}

	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>
